{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Bem-vindo à Página Inicial!</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-primary w-100">Administrador</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'lista_usuarios' %}" class="btn btn-outline-primary w-100">Usuários</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <li class="list-group-item">
                <a href="{% url 'lista_categorias' %}" class="btn btn-outline-primary w-100">Categorias</a>
            </li>
        {% endif %}
        <li class="list-group-item">
            <a href="{% url 'lista_produtos_disponiveis' %}" class="btn btn-outline-primary w-100">Produtos</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'sobre' %}" class="btn btn-outline-primary w-100">Sobre</a>
        </li>
    </ul>
</div>
{% endblock %}
