{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Dados Usuário{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Inserir Usuário</h2>
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_username" class="form-label">Usuário</label>
            {{ form.username|add_class:"form-control" }}
            <!-- Exibindo erros do campo de nome de usuário -->
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
       
        <div class="mb-3">
            <label for="id_password" class="form-label">Senha</label>
            {{ form.password|add_class:"form-control" }}
            <small class="form-text text-muted">
                A senha deve ter pelo menos 8 caracteres, conter um número e uma letra maiúscula.
            </small>
            <!-- Exibindo erros do campo de senha -->
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
       
        <div class="mb-3">
            <label for="id_password_confirm" class="form-label">Confirmar Senha</label>
            {{ form.password_confirm|add_class:"form-control" }}
            <!-- Exibindo erros do campo de confirmação de senha -->
            {% if form.password_confirm.errors %}
                <div class="text-danger">
                    {% for error in form.password_confirm.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% for field in form %}
            {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
