{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Dados Produto{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Inserir Produto</h2>
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.produto.id_for_label }}" class="form-label">Produto</label>
            {{ form.produto|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição</label>
            {{ form.descricao|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label for="{{ form.nome_categoria.id_for_label }}" class="form-label">Categoria</label>
            {{ form.nome_categoria|add_class:"form-select" }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.ano_fabricacao.id_for_label }}" class="form-label">Ano Fabricação</label>
            {{ form.ano_fabricacao|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'lista_produtos_disponiveis' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
