{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Novo Interesse{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Adicionar Interesse para {{ cliente.nome }}</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.interesse.id_for_label }}" class="form-label">Interesse</label>
            {{ form.interesse|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'detalhe_usuarios' usuario_id=cliente.usuario.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
