{% extends "base.html" %}

{% block title %}Detalhes do Usuário{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card title">{{ usuario.nome }}</h2>
        
                {% if cliente.usuario %}
                    <hr>
                        <h4>Dados do Cliente</h4>
                        <p class="card-text"><strong>Email:</strong>{{ cliente.email }}</p>
                        <p class="card-text"><strong>Telefone:</strong>{{ cliente.telefone }}</p>
                        <p class="card-text"><strong>CPF:</strong>{{ cliente.cpf }}</p>
                        <p class="card-text"><strong>Ano Nascimento:</strong>{{ cliente.ano_nascimento }}</p>
                {% else %}
                    <p class="alert alert-warning">Este usuário não possui um cliente associado!</p>
                    <a href="{% url 'criar_cliente' usuario_id=usuario.pk %}" class="btn btn-success mb-3">Inserir Dados</a>
                {% endif %}

                <a href="{% url 'lista_usuarios' %}" class="btn btn-primary mb-3">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}