{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Editar Categoria{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar Categoria</h2>
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.categoria.id_for_label }}" class="form-label">Categoria</label>
            {{ form.categoria|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
