{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Produtos Disponíveis</h2>
    {% if produtos %}
        <ul class="list-group">
            {% for produto in produtos %}
                <li class="list-group-item">{{ produto.produto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">Nenhum produto encontrado.</p>
    {% endif %}
    <a href="{% url 'criar_produto' %}" class="btn btn-success mt-3">Inserir Produto</a>
</div>
{% endblock %}
