{% extends "base.html" %}

{% block title %}Lista Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Usuários</h2>
    {% if usuarios %}
        <ul class="list-group">
            {% for usuario in usuarios %}
                <li class="list-group-item">
                    <a href="{% url 'detalhe_usuarios' usuario_id=usuario.pk %}" class="text-decoration-none">
                        {{ usuario.nome }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">Nenhum usuário encontrado.</p>
    {% endif %}
</div>
{% endblock %}
