{% extends "base.html" %}

{% block title %}Lista Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Usuários</h2>
    {% if usuarios %}
        <ul class="list-group mb-3">
            {% for usuario in usuarios %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'detalhe_usuarios' usuario_id=usuario.pk %}" class="text-decoration-none">
                    {{ usuario.nome }}
                </a>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <div class="btn-group">
                        <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'deletar_usuario' usuario.id %}" class="btn btn-danger btn-sm">Deletar</a>
                    </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">Nenhum usuário encontrado.</p>
    {% endif %}
    <div class="d-flex gap-2">
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <a href="{% url 'criar_usuario' %}" class="btn btn-success">Inserir Usuário</a>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock %}
