{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Produtos Disponíveis</h2>
    {% if produtos %}
        <ul class="list-group mb-3">
            {% for produto in produtos %}
                <li class="list-group-item">{{ produto.produto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">Nenhum produto encontrado.</p>
    {% endif %}
    
    <div class="d-flex gap-2">
        <a href="{% url 'criar_produto' %}" class="btn btn-success">Inserir Produto</a>
        <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock %}

